<!DOCTYPE html>
<html>
  <head>
    <title>LEVII</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Levi</h1>
    {% if intro %}
    <p>{{intro}}</p>
    {% endif %}
  
    <form method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name"><br>

      <label for="gender">Gender:</label>
      <input type="radio" id="male" name="gender" value="male">
      <label for="male">Male</label>
      <input type="radio" id="female" name="gender" value="female">
      <label for="female">Female</label><br>

      <label for="interest">Interests:</label>
      <input type="checkbox" id="anime" name="interest" value="anime">
      <label for="anime">Anime</label>
      <input type="checkbox" id="music" name="interest" value="music">
      <label for="music">Music</label>
      <input type="checkbox" id="comics" name="interest" value="comics">
      <label for="comics">Comics</label><br>

      <input type="submit" value="Submit">
    </form>

    {% if name %}
    <p>{{ name }}</p>
    {% endif %}
    {% if gender %}
    <p>{{ gender }}</p>
    {% endif %}
    {% if interests %}
    <p>{{ interests }}</p>
    {% endif %}
    {%if nums%}
      {% for num in nums %}
      {{num}}
      {% endfor %}
    {% endif %}
  </body>
</html>

